@import 'colors';

@media screen and (max-width: 765px)
{
    body
    {
        padding-left: 10px;
    }
}

#student-card-example
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
