@*
    LivrETS - Centralized system that manages selling of pre-owned ETS goods.
    Copyright (C) 2016  TribuTerre

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses
*@
<!-- ============================= FOOTER ============================-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <!-- ========================== FOLLOW US FOOTER =================== -->
                <div class="module widget">
                    <div class="module-header">
                        <h4 class="module-title text-md-center">Contactez-nous</h4>
                    </div><!-- /.module-header -->
                    <div class="module-body text-md-center">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <ul class="list-link">
                                    <li><b>Adresse: </b>1100 Rue Notre-Dame O, Montréal, QC H3C 1K3</li>
                                    <li><b>Email:</b> tributerre@aeeets.com</li>
                                </ul><!-- /.list-link -->
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.module-body -->
                    <div class="module-header">
                        <h4 class="module-title text-md-center">Suivez-nous</h4>
                    </div><!-- /.module-header -->
                    <div class="module-body text-md-center">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <ul class="list-social-icons">
                                    <li>
                                        <a href="https://www.facebook.com/tributerreETS/?fref=ts">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li class="hide"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <!--<li><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>-->
                                </ul><!-- /.list-social-icons -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </div><!-- /.module -->
                <!-- ========================= FOLLOW US FOOTER :END ================== -->
            </div><!-- /.col -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <!-- ========================== NEWSLETTER FOOTER ====================== -->
                        <div class="module block-newsletter">
                            <div class="module-header">
                                <h4 class="module-title text-md-center">À propos</h4>
                            </div><!-- /.module-header -->
                            <div class="module-body text-md-center">
                                
                                Tributerre est un comité étudiant de l'École de Technologie 
                                Supérieure qui a pour mission d’appliquer les différents concepts 
                                du développement durable au sein du campus. Il cherche à réduire l’empreinte 
                                écologique de l’école, à sensibiliser la communauté de l’ÉTS (étudiants, 
                                employés et professeurs) à différentes problématiques environnementales, 
                                mais aussi à améliorer la qualité de vie de chacun sur le campus. 
                                
                            </div><!-- /.module-body -->
                        </div><!-- /.module -->
                        <!-- ========================= NEWSLETTER FOOTER :END ==================== -->
                    </div><!-- /.col -->
                    
                </div><!-- /.row -->
            </div><!-- /.col -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <!-- ==============================SHIPPING DELIVERY FOOTER =================== -->
                <div class="module">
                    <div class="module-header">
                        <h4 class="module-title text-md-center">Nos partenaires</h4>
                    </div><!-- /.module-header -->
                    <div class="module-body text-md-center">
                        
                        <img src="~/Images/logos/ets.png" />
                        <img src="~/Images/logos/aeets.png" />
                        <img src="~/Images/logos/coopets.jpg" />
                        <img src="~/Images/logos/fddaeets.png" />
                        <img src="~/Images/logos/Tributerre.png" />
                        
                    </div><!-- /.module-body -->
                </div><!-- /.module -->
                <!-- ============================SHIPPING DELIVERY FOOTER : END ==================== -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</footer>
<!-- ================================ FOOTER :END ===================================== -->
