@*
    LivrETS - Centralized system that manages selling of pre-owned ETS goods.
    Copyright (C) 2016  TribuTerre

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses
*@
<!-- ============================= FOOTER ============================-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <!-- ========================== FOLLOW US FOOTER =================== -->
                <div class="module widget">
                    <div class="module-header">
                        <h4 class="module-title text-md-center">Suivez-nous</h4>
                    </div><!-- /.module-header -->
                    <div class="module-body text-md-center">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <p>Lorem ipsum dolor sit amet</p>
                                <ul class="list-social-icons">
                                    <li><a href="http://facebook.com/transvelo"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <!--<li><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>-->
                                </ul><!-- /.list-social-icons -->
                            </div><!-- /.col -->
                            <div class="col-md-12 col-sm-6">
                                <address>
                                    Lorem ipsum dolor sit amet<br />
                                    <strong>KYBully PSD</strong><br />
                                    108 ABC, New York, USA <br />
                                    (+00)-000-0000-000
                                </address>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.module-body -->
                </div><!-- /.module -->
                <!-- ========================= FOLLOW US FOOTER :END ================== -->
            </div><!-- /.col -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <!-- ========================== NEWSLETTER FOOTER ====================== -->
                        <div class="module block-newsletter">
                            <div class="module-header">
                                <h4 class="module-title text-md-center">Newsletter</h4>
                            </div><!-- /.module-header -->
                            <div class="module-body text-md-center">
                                <p>Lorem ipsum dolor sit amet</p>
                                <form role="form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="yourname@email.com" autocomplete="off">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Valider</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div><!-- /.module-body -->
                        </div><!-- /.module -->
                        <!-- ========================= NEWSLETTER FOOTER :END ==================== -->
                    </div><!-- /.col -->
                    
                </div><!-- /.row -->
            </div><!-- /.col -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <!-- ==============================SHIPPING DELIVERY FOOTER =================== -->
                <div class="module">
                    <div class="module-header">
                        <h4 class="module-title text-md-center">Shipping &amp; Delivery</h4>
                    </div><!-- /.module-header -->
                    <div class="module-body text-md-center">
                        <p>Lorem ipsum dolor sit amet</p>
                        <ul class="list-link">
                            <li><a href="category.html">Consectetur adipisicing elit, sed do eiusmod</a></li>
                            <li><a href="category.html">Tempor incididunt ut labore et dolore</a></li>
                            <li><a href="category.html">Magna aliqua. Ut enim ad minim</a></li>
                            <li><a href="category.html">Veniam, quis nostrud exercitation</a></li>
                            <li><a href="category.html">Ullamco laboris nisi ut aliquip ex ea</a></li>
                        </ul><!-- /.list-link -->
                    </div><!-- /.module-body -->
                </div><!-- /.module -->
                <!-- ============================SHIPPING DELIVERY FOOTER : END ==================== -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</footer>
<!-- ================================ FOOTER :END ===================================== -->
