@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <div class="btn-group">
            <button id="user-btn" type="button" class="navbar-btn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bonjour @User.FindFirstValue("FirstName")!<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a asp-controller="Account" asp-action="Profile"><span class="glyphicon glyphicon-user"></span>  Profil</a></li>
                <li><a href="#" onclick="$('#logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span>  Se d&eacute;connecter</a></li>
                <li role="separator" class="divider"></li>
            </ul>
        </div>
    </form>
}
else
{
    <div class="btn-group">
        <button id="user-btn" type="button" class="navbar-btn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bonjour! <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span>  Se connecter</a></li>
        </ul>
    </div>
}
