@*
    LivrETS - Centralized system that manages selling of pre-owned ETS goods.
    Copyright (C) 2016  TribuTerre

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses*@
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@if (Request.IsAuthenticated)
{

        <div class="dropdown">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { Id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                var userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
                var user = userManager.FindById(User.Identity.GetUserId());

                <a id="user-btn" href="#" class="btn dropdown-toggle" data-toggle="dropdown" 
                   role="button" aria-haspopup="true" aria-expanded="false">
                    Bonjour @user.FirstName! <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/Account/Profile"><span class="fa fa-user"></span> Mon profile</a></li>
                    <li><a href="/Account/Historic"><span class="fa fa-book"></span> Mes annonces</a></li>
                    <li><a href="/Offer/Create"><span class="glyphicon glyphicon-usd"></span> Vendre</a></li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li><a href="/Admin"><span class="fa fa-user"></span> Administration</a></li>
                    }
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#" onclick="$('#logoutForm').submit()">
                        <span class="glyphicon glyphicon-log-out"></span>  
                        Se d&eacute;connecter</a>
                    </li>
                </ul>
            }
        </div>

        }
        else
        {
        <a href="/Account/Login">connexion</a>
        }
