@using System.Security.Claims

@if (User.IsSignedIn())
{
    <li><a href="#">Vendre</a></li>
    
    @if (User.IsInRole("Administrator"))
    {
        <li><a asp-controller="Admin" asp-action="ManageUsers">Utilisateurs</a></li>
        <li><a href="#">Foires</a></li>
    }
    <li>&nbsp;</li>
}
