@*
    LivrETS - Centralized system that manages selling of pre-owned ETS goods.
    Copyright (C) 2016  TribuTerre

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses
*@
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Vendre", "Create", "Offer")</li>

    if (User.IsInRole("Administrator") || User.IsInRole("Clerk"))
    {
        <li>@Html.ActionLink("Cueillir", "Pick", "Fair")</li>
    }

    if (User.IsInRole("Administrator"))
    {
        <li>@Html.ActionLink("Utilisateurs", "ManageUsers", "Admin")</li>
        <li>@Html.ActionLink("Foires", "ManageFairs", "Admin")</li>
    }
    <li>&nbsp;</li>
}
