
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content content-404">
    <div class="container">
        <!-- ========================================= CONTENT ========================================= -->
        <div class="info-404 text-center">
            <h1>404</h1>
            <img src="/Images/template/bone.png" alt="404 Not Found">
            <p>Sorry Guys! Page not available</p>
            <p><a href="#" class="secondary-link">Sitemap</a> &ndash; @Html.ActionLink("Accueil", "Sell", "Home")</p>
        </div><!-- /.info-404 -->
        <!-- ========================================= CONTENT : END  ========================================= -->
    </div><!-- /.container -->
</div><!-- /.content -->

