
@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content content-404">
    <div class="container">
        <!-- ========================================= CONTENT ========================================= -->
        <div class="info-404 text-center">
            <h1>
                <img src="~/Images/logos/logo_livrets.png" width="30%" alt="404 Not Found" 
                     class="hidden-sm hidden-xs"/>
                404
            </h1>
            <!--img src="~/Images/logos/LivreETS.png" width="50%" alt="404 Not Found"-->
            <p>Désolé! Page non trouvée</p>
            <p><a href="#" class="secondary-link hide">Sitemap&ndash;</a>  @Html.ActionLink("Accueil", "Index", "Home")</p>
        </div><!-- /.info-404 -->
        <!-- ========================================= CONTENT : END  ========================================= -->
    </div><!-- /.container -->
</div><!-- /.content -->

