
@{
    ViewBag.Title = "Créer une foire";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <style>
        h1 {
            margin-bottom: 50px;
        }

        #btn-add-activity {
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .add-activity div:first-child {
            padding-top: 26px;
        }
    </style>
}
<div id="page-wrapper">
    <div class="container">

        <div class="row">
            <div class="alert alert-success hide" id="group-alert-mess" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span id="alert-mess"></span>
            </div>
            @using (Html.BeginForm("CreateFair", "Admin", FormMethod.Post, new { @class = "form" }))
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Session</label>
                            <select class="form-control input-sm" id="session">
                                <option value="A">Automne</option>
                                <option value="H">Hiver</option>
                                <option value="E">Été</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2>Ajouter des activités</h2>

                    <div class="row" id="grp-activity">
                        <div id="add-activity" class="row hide">
                            <div class="col-md-1 text-center">
                                <a class="btn btn-danger btn-sm btn-del-activity">
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <label>Date de début :</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control input-sm activity_start_date">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Date de fin :</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control input-sm activity_end_date" />
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Activité :</label>
                                <select class="form-control input-sm activity_activity">
                                    <option value="P">Ceuillete</option>
                                    <option value="S">Vente</option>
                                    <option value="R">Récuperation</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Emplacement :</label>
                                <input class="form-control input-sm activity_place" type="text" />
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-success" id="btn-add-activity">
                        <i class="fa fa-plus"></i> Ajouter une étape
                    </a>
                </div>
                <div class="row">

                    <a href="#" id="btn-submit" class="btn btn-success">
                        <i class="fa fa-spinner fa-pulse fa-fw hide"></i>
                        <span class="sr-only">Loading...</span>
                        Enregistrer
                    </a>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-fr-ca.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/fair/createFair.js"></script>
}
