@*
    LivrETS - Centralized system that manages selling of pre-owned ETS goods.
    Copyright (C) 2016  TribuTerre

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses
*@
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity.Owin
@using LivrETS.Models
@{
    ViewBag.Title = "Admin: Utilisateurs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
}

@section Styles {

}

<div id="errors" class="row" hidden>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button id="close-error" type="button" class="close" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
        <span id="error-message"></span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    <table class="table-striped table-bordered table-hover display" id="list-users" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="check-select-all">
                </th>
                <th>ID</th>
                <th>Pr&eacute;nom</th>
                <th>Nom</th>
                <th>N&deg; Code &agrave; barres</th>
                <th>Inscrit le</th>
                <th>Privil&egrave;ge</th>
                <th>Actions</th>
            </tr>
        </thead>
        
    </table>
    </div>
</div>

<div class="row">
</div>

@section Actions {
    <div class="row text-center" id="div-actions">
    </div>
}

@section Scripts {
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Scripts/manageusers.js"></script>
}
