@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Inscrivez-vous";
}

@section Styles {
    <link rel="stylesheet" href="~/css/externallogincallback.css" />
}
<h3>Vous y &ecirc;tes presque!</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <hr />
    <div id="alert-terms" class="alert alert-danger" role="alert" hidden>
        <button type="button" class="close" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
        <strong>Oups!</strong> Vous devez vous connecter avec votre compte <strong>etsmtl.net</strong>.
    </div>
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

    <p class="text-info">
        Vous vous &ecirc;tes connectez avec succ&egrave;s &agrave; <strong>@ViewData["LoginProvider"]</strong>.
        Svp, veuillez confirmer votre inscription en remplissant les champs ci-dessous et cliquez sur le
        bouton <strong>Confirmer!</strong pour continuer.
    </p>
    <div class="form-group">
        <div class="row">
            <label asp-for="FirstName" class="col-md-2 control-label">Prénom</label>
            <div class="col-md-2">
                <input asp-for="FirstName"
                    class="form-control"
                    data-val-required="Veuilez indiquer votre prénom.">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            
            <label asp-for="LastName" class="col-md-2 control-label">Nom</label>
            <div class="col-md-2">
                <input asp-for="LastName"
                    class="form-control"
                    data-val-required="Veuillez indiquer votre nom.">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        
        <div class="row" style="margin-top: 20px;">
            <label asp-for="Email" class="col-md-2 control-label">Courriel</label>
            <div class="col-md-4">
                <input asp-for="Email"
                    class="form-control"
                    data-val-required="Veuillez indiquer votre courriel."
                    data-val-email="Le courriel que vous avez indiqué est invalide."/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>    
        </div>
        
        <div class="row text-center" style="margin-top: 20px;">
            <p>Entour&eacute; de <strong style="color: red;">rouge</strong> est l'information recherch&eacute;.</p>
            <img class="img-rounded" width="300px" height="175px" alt="student_card_example.jpg" src="~/images/student_card_example.jpg" />
            <br>
            <input asp-for="BarCode"
                style="margin: 10px auto 0; float: none;"
                placeholder="Num&eacute;ro du code &agrave; barres"
                class="form-control"
                data-val-required="Veuillez indiquer le numéro du code à barres de votre carte étudiante." />
            <span style="margin: 10px auto 0; float: none;" asp-validation-for="BarCode" class="text-danger"></span>
        </div>
    </div>
    
    <div class="row">
        <p>
            <input type="checkbox" id="terms-checkbox"> Je confirme avoir lu et compris les <a href="#">termes et conditions d'utilisation</a> de Livr&Eacute;TS.
        </p>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-right">
            <button id="btn-confirm" type="button" class="btn btn-primary">Confirmer!</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(() => {
            $("#btn-confirm").on("click", () => {
                if ($("#terms-checkbox").is(":checked")) {
                    $("form").submit()
                } else {
                    $("#alert-terms").show("slow")
                }
            })
            
            $("#alert-terms>button").on("click", () => {
                $("#alert-terms").hide("slow")
            })
        })
    </script>
}
