
@{
    ViewBag.Title = "Statistic";
    Layout = "~/Views/Shared/_ProfileUserLayout.cshtml";
}

@section Styles {

    <style>
        #menu-general-admin ul li:nth-child(2) {
            border-bottom: 4px solid #629c49;
        }

            #menu-general-admin ul li:nth-child(2) a {
                color: #629c49;
            }
    </style>

}

<h2>Statistiques</h2>

